* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.box_wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_wraper {
  margin-right: 30px;
}
.img_box {
  display: flex;
  justify-content: center;
}

.text {
  width: 600px;
  height: 200px;
}

.knopka {
  padding: 10px 20px;
  border: none;
  background-color: red;
  margin-bottom: 30px;
}

.madal_bodiy {
  position: absolute;
  width: 600px;
  height: 500px;
  background-color: lightblue;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
 
  
}

.madal_input {
  outline: none;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 15px 20px;
  background-color: cornflowerblue;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}

.reset {
  padding: 5px 10px;
  color: red;
  font-size: 16px;
}
.send {
  padding: 5px 10px;
  color: green;
  font-size: 16px;
}

.parda{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
